<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Real-Time Transcription and Translation (Settings)</title>
    <link rel="stylesheet" href="/static/css/styles.css?v={{ css_file_version }}">
</head>
<body>

<div class="container">
    <div class="header">
        <a href="/">
            <button>back to Index Page</button>
        </a>
        <button id="startButton">Start Worker</button>
        <button id="stopButton">Stop Worker</button>
    </div>

    <div  class="text-display">
        <div id="responseMessage"> </div>
        <div id="state_json"> </div>
    </div>

    <div id="service-status-output" class="text-display">
    </div>

</div>

<script src="/static/js/settings.js?=v{{ js_file_version }}"></script>
</body>
</html>